body {
	font-family: "Roboto","sans-serif";
	font-size: 18;
	padding: 10px;
	color: #666 !important;
	overflow-x: hidden;
}
h1 {
	font-weight: 200;
	font-size: 45px;
	color: black;
}
.center {
	text-align: center;
	}
.smaller {
	max-width: 70%;
	text-align: left;
	}
small {
	cursor: pointer;
}
.smol {
	font-size: 12px;
}
.footer {
	position: absolute;
	bottom: 0;
	height: 40px;
	margin-top: 40px;
	width: 100%;
	text-align: center;
}
.spinner-border {
	height: 1rem !important;
	width: 1rem !important;
}
.error {
	border: 1px solid red !important;
}
.title {
	font-family: Lato, Helvetica, Arial, sans-serif !important;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 28px;
	color: black;
}

.btn-floating {
	text-align: center;
	padding: 13px;
}
.f {
	max-width: 350px;
}
.author {
	float: right;
	line-height: 24px;
	font-size: 12px;
}
.card-title {
	text-transform: capitalize;
	/* text-decoration: underline; */
}
.card {
	height: 400px;
	border: 1px solid #CCC;
}

.light-ul {
	font-weight: 200;
	padding-left: 0px;
	margin-left: 0px;
	list-style-type: none;
	font-size: 13px;
	margin-top: 5px;
}

.form-lg {
	margin-top: 0;
}

.m-l-s {
	margin-left: 10px;
	margin-top: 5px;
}
.break {
	margin-top: 40px;
	/* color: black; */
}
.break-sm {
	margin-top: 10px;
}
.break-md {
	margin-top: 25px;
}
.form {
	padding: 20px;
	color: black;
	border: 1px solid #888;
}
.formlabel {
	color: rgb(117, 117, 117);
}
.custom-control-label {
	color: black;
}
select {
	border-radius: 0px;
}
.md-form textarea.md-textarea {
	padding-bottom: 2px;
}
.input-group, .input-group-text, .custom-file-label {
	font-weight: 300 !important;
}


.image-upload>input {
  display: none;
}
.screenshot {
	height: 168px;
	width: 144px;
	max-height: 168px;
	max-width: 144px;
	cursor: pointer;
}
.il {
	height: 144px;
	width: 144px;
	max-height: 144px;
	max-width: 144px;
	cursor: pointer;
}
.is {
	height: 48px;
	width: 48px;
	max-height: 48px;
	max-width: 48px;
	cursor: pointer;
}
.screenshot {
	height: 168px;
	width: 144px;
	cursor: pointer;
}

.danger {
	border-left: 3px solid red !important;
}
.btn-danger {
	background-color: darkred !important;
}

.coffee {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 10s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 10s infinite;

  /* Standar Syntax */
  animation: rainbow 10s infinite;
}
@-webkit-keyframes rainbow{
  0%{color: orange;}
  10%{color: purple;}
        20%{color: red;}
  30%{color: CadetBlue;}
        40%{color: yellow;}
  50%{color: coral;}
        60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
        100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
   0%{color: orange;}
  10%{color: purple;}
        20%{color: red;}
  30%{color: CadetBlue;}
        40%{color: yellow;}
  50%{color: coral;}
        60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
        100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
    0%{color: orange;}
  10%{color: purple;}
        20%{color: red;}
  30%{color: CadetBlue;}
        40%{color: yellow;}
  50%{color: coral;}
        60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
        100%{color: orange;}
}
